<div class="">
    <h1 class="sr-only">Recent questions</h1>
    <ul role="list" class="space-y-4">
        <li class="bg-white px-4 py-6  sm:p-6 sm:rounded-lg">
            <!-- This example requires Tailwind CSS v2.0+ -->
            <div>
                <h3 class="text-lg leading-6 font-medium text-primary">Panel de Información general</h3>
                <dl class="mt-5 grid grid-cols-1   overflow-hidden   md:grid-cols-2 ">
                    <div class="sm:col-span-2 lg:col-span-1">
                        <div class="bg-gray-100 shadow px-4 mx-2 rounded-md mb-4 py-5 sm:p-6 ">
                            <dt class="text-xl font-semibold text-gray-900">Afiliaciones totales</dt>
                            <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                                <div class="flex items-baseline text-2xl font-semibold text-primary">
                                    897

                                </div>

                                <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium bg-green-100 text-primary md:mt-2 lg:mt-0">
                                    <!-- Heroicon name: solid/arrow-sm-up -->
                                    <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-5 w-5 text-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                          </svg>
                                    <span class="sr-only"> Increased by </span> 12%
                                </div>
                            </dd>
                        </div>
                        <div class="bg-gray-100 shadow px-4 mx-2 rounded-md py-5 sm:p-6 ">
                            <span class="flex justify-between flex-wrap">

                                <dt class="text-xl font-semibold text-gray-900">Ventas totales</dt>
                                <div class="inline-flex items-center px-2.5   text-sm font-medium hover:underline text-primary cursor-pointer">
                                    <!-- Heroicon name: solid/arrow-sm-up -->
                                    <a [routerLink]="['/Home/Statistics/Indicators' , 5 ,'MoreInfo', 1]" routerLinkActive="router-link-active" >   Ver informe</a>

                                   
                                </div>
                            </span>
                            <dd class="mt-1  items-baseline md:block ">
                                <div class="inline mb-4 text-2xl font-semibold text-primary">
                                    <span>$0,00</span>

                                </div>
                                <br>
                                <div class="w-auto  h-auto bg-cover rounded-l-lg ">
                                    <img src="assets/images/graficalineal1.png" class="rounded-l-lg h-full " alt="">
                                </div>
                            </dd>
                        </div>
                    </div>
                    <div class="sm:col-span-2 lg:col-span-1">

                        <div class="bg-gray-100 shadow px-4 h-full mx-2 rounded-md py-5 sm:p-6 ">
                            <span class="flex justify-between flex-wrap">

                                <dt class="text-xl font-semibold text-gray-900">Metas asignadas</dt>
                                <div class="inline-flex items-center px-2.5   text-sm font-medium hover:underline text-primary cursor-pointer">
                                    <!-- Heroicon name: solid/arrow-sm-up -->
                                   <a [routerLink]="['/Home/Statistics/Indicators' , 5 ,'MoreInfo', 3]" routerLinkActive="router-link-active" >  Ver informe</a>
                                   
                                </div>
                            </span>
                            <dd class="mt-1  items-baseline md:block ">
                                <div class="inline mb-4 text-2xl font-semibold text-primary">
                                    <span>0</span>

                                </div>
                                <br>
                                <div class="w-auto  h-full bg-cover rounded-l-lg ">
                                    <img src="assets/images/graficalineal1.png" class="rounded-l-lg h-full " alt="">
                                </div>
                            </dd>
                        </div>

                    </div>


                </dl>

                <h4 class="text-lg leading-6 my-5 font-medium text-primary">Satisfacción de clientes</h4>
                <dl class=" grid grid-cols-1   overflow-hidden   md:grid-cols-3 ">
                    <div class="sm:col-span-3 lg:col-span-1">
                        <div class="bg-gray-100 shadow px-4 mx-2 rounded-md mb-4 py-5 sm:p-6 ">
                            <dt class="text-xl font-semibold text-gray-900">Calificaciones</dt>
                            <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                                <div class="flex items-baseline text-2xl font-semibold text-primary">
                                    897

                                </div>

                                <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium bg-green-100 text-primary md:mt-2 lg:mt-0">
                                    <!-- Heroicon name: solid/arrow-sm-up -->
                                    <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-5 w-5 text-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                          </svg>
                                </div>
                            </dd>
                        </div>

                    </div>
                    <div class="sm:col-span-3 lg:col-span-1">
                        <div class="bg-gray-100 shadow px-4 mx-2 rounded-md mb-4 py-5 sm:p-6 ">
                            <dt class="text-xl font-semibold text-gray-900">Negativas</dt>
                            <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                                <div class="flex items-baseline text-2xl font-semibold text-primary">
                                    897

                                </div>

                                <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium bg-green-100 text-primary md:mt-2 lg:mt-0">
                                    <!-- Heroicon name: solid/arrow-sm-up -->
                                    <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-5 w-5 text-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                          </svg>
                                </div>
                            </dd>
                        </div>

                    </div>
                    <div class="sm:col-span-3 lg:col-span-1">
                        <div class="bg-gray-100 shadow px-4 mx-2 rounded-md mb-4 py-5 sm:p-6 ">
                            <dt class="text-xl font-semibold text-gray-900">Positivas</dt>
                            <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                                <div class="flex items-baseline text-2xl font-semibold text-primary">
                                    897

                                </div>

                                <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium bg-green-100 text-primary md:mt-2 lg:mt-0">
                                    <!-- Heroicon name: solid/arrow-sm-up -->
                                    <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-5 w-5 text-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                          </svg>
                                </div>
                            </dd>
                        </div>

                    </div>



                </dl>
            </div>

        </li>

        <!-- More questions... -->
    </ul>
</div>