<div class="p-5 bg-white rounded-md">
    <h2 class="text-xl leading-6 font-medium text-gray-900">Titular de la cuenta</h2>
    <p class="text-sm mb-3 leading-6 font-normal text-gray-400">Información principal</p>

    <div class=" lg:p-0 mt-4   py-5 sm:rounded-lg mb-3">
        <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class=" md:mt-0 md:col-span-3">
                <form action="#" method="POST">
                    <div class="grid grid-cols-6 gap-6">
                        <div class="col-span-6 sm:col-span-3">
                            <label for="first-name" class="block text-sm font-medium text-gray-700">Nombres</label>
                            <input type="text" name="first-name" id="first-name" autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>

                        <div class="col-span-6 sm:col-span-3">
                            <label for="last-name" class="block text-sm font-medium text-gray-700">Apellidos</label>
                            <input type="text" name="last-name" id="last-name" autocomplete="family-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>

                        <div class="col-span-6 sm:col-span-3">
                            <label for="type-id" class="block text-sm font-medium text-gray-700">Tipo de identificación </label>
                            <select id="type-id" name="type-id" autocomplete="type-id" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                <option>Cédula de ciudadanía</option>
                               
                            </select>
                        </div>

                        <div class="col-span-6 sm:col-span-3">
                            <label for="id-number" class="block text-sm font-medium text-gray-700">Número de identificación</label>
                            <input type="number" name="id-number" id="id-number" autocomplete="address-level2" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">

                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <label for="affiliate-email" class="block text-sm font-medium text-gray-700">Correo electrónico</label>
                            <input type="email" name="affiliate-email" id="affiliate-email" autocomplete="affiliate-email" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <label for="phone-number" class="block text-sm font-medium text-gray-700">Celular</label>
                            <input type="number" name="phone-number" id="phone-number" autocomplete="address-level2" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>

                        <div class="col-span-6 sm:col-span-3">
                            <label for="region" class="block text-sm font-medium text-gray-700">Género</label>
                            <select id="gender" name="gender" autocomplete="gender" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                <option>Masculino</option>
                                <option>Femenino</option>
                                <option>Otro</option>
                            </select>
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <label for="region" class="block text-sm font-medium text-gray-700">Estado civil</label>
                            <select id="civil-status" name="civil-status" autocomplete="civil-status" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                <option>Soltero/a</option>
                                <option>Casado/a</option>
                           
                            </select>
                        </div>
                        <div class="col-span-6 sm:col-span-4">
                            <label for="birthday" class="block text-sm font-medium text-gray-700">Fecha de nacimiento</label>
                            <input type="date" name="birthday" id="birthday" autocomplete="address-level2" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">

                        </div>
                        <br>
                        <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                            <label for="address-user" class="block text-sm font-medium text-gray-700">Dirección de residencia</label>
                            <input type="text" name="address-user" id="address-user" autocomplete="address-level2" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>

                        <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                            <label for="region" class="block text-sm font-medium text-gray-700">Detalles de la dirección</label>
                            <input type="text" name="address-details-user" id="address-details-user" autocomplete="address-level2" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">

                        </div>

                        <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                            <label for="neighborhood" class="block text-sm font-medium text-gray-700">Barrio</label>
                            <input type="text" name="neighborhood" id="neighborhood" autocomplete="neighborhood" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
                        <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                            <label for="country" class="block text-sm font-medium text-gray-700">País</label>
                            <input type="text" name="country" id="country" autocomplete="address-level2" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>

                        <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                            <label for="department" class="block text-sm font-medium text-gray-700">Departamento</label>
                            <input type="text" name="department" id="department" autocomplete="address-level2" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">

                        </div>

                        <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                            <label for="city" class="block text-sm font-medium text-gray-700">Ciudad / Municipio</label>
                            <input type="text" name="city" id="city" autocomplete="city" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="md:grid md:grid-cols-3 md:gap-6">

        <div class="mt-5 md:mt-0 md:col-span-3">
            <form class="space-y-6" action="#" method="POST">
                <fieldset>
                    <legend class="text-base font-medium  text-gray-900">Información legal</legend>
                    <div class="mt-4 space-y-4">
                        <div class="flex items-start">
                            <div class="h-5 flex items-center">
                                <input id="comments" name="comments" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                            </div>
                            <div class="ml-3 text-sm flex flex-nowrap">

                                <p class="text-gray-500">He leído y acepto las </p> <span class="underline mx-1"> políticas de privacidad</span>
                            </div>
                        </div>
                        <div class="flex items-start">
                            <div class="flex items-center h-5">
                                <input id="candidates" name="candidates" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                            </div>
                            <div class="ml-3 text-sm flex flex-nowrap">
                                <p class="text-gray-500">He leído y acepto los términos y condiciones</p> <span class="underline mx-1"> términos y condiciones</span>
                            </div>
                        </div>

                    </div>
                </fieldset>

            </form>
        </div>
    </div>

    <div class="flex justify-end">
        <button type="button" [routerLink]="['/Family/Beneficiaries']" routerLinkActive="router-link-active" class="btn-primary ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white btn-primary hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Enviar</button>
    </div>
</div>