<div class="min-h-full">


    <main class="py-10">
        <!-- Page header -->
        <div class="max-w-3xl mx-auto px-4 sm:px-6 md:flex md:items-center md:justify-between md:space-x-5 lg:max-w-7xl lg:px-8">
            <div class="flex items-center space-x-5">
                <div class="flex-shrink-0">
                    <div class="relative">
                        <img class="h-16 w-16 rounded-full" src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80" alt="">
                        <span class="absolute inset-0 shadow-inner rounded-full" aria-hidden="true"></span>
                    </div>
                </div>
                <div>
                    <h1 class="text-2xl font-bold text-gray-900">Ricardo Cooper</h1>
                    <p class="text-sm font-medium text-gray-500">32 años <a href="#" class="text-gray-900"> | Masculino</a> </p>
                </div>
            </div>

        </div>


        <div class="mt-8 max-w-3xl mx-auto grid grid-cols-1 gap-6 sm:px-6 lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-1">
            <!-- Comments-->
            <section aria-labelledby="notes-title">
                <div class="bg-white shadow sm:rounded-lg ">
                    <div class="divide-y divide-gray-200">
                        <div class="px-4 py-5 sm:px-6">
                            <h2 id="notes-title" class="text-lg font-medium text-gray-900">Historial de atenciones</h2>
                        </div>
                        <div class="px-4 py-6 sm:px-6">
                            <!-- This example requires Tailwind CSS v2.0+ -->
                            <div class="flex flex-col">
                                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                                        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                            <table class="min-w-full divide-y divide-gray-200">
                                                <thead class="bg-gray-50">
                                                    <tr>
                                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Fecha</th>
                                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Servicio</th>
                                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Medico</th>
                                                        <th scope="col" class="relative px-6 py-3">
                                                            <span class="sr-only">Edit</span>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody class="bg-white divide-y divide-gray-200">
                                                    <tr>
                                                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">R10/05/12 </td>
                                                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">Consulta random</td>
                                                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">Jane Cooper</td>
                                                        <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                                            <a href="#" class="text-indigo-600 hover:text-indigo-900">
                                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                                                </svg>
                                                            </a>
                                                        </td>
                                                    </tr>

                                                    <!-- More people... -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </section>
        </div>
        <div class="mt-8 max-w-3xl mx-auto grid grid-cols-1 gap-6 sm:px-6 lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-1">
            <div class="space-y-6 lg:col-start-1 lg:col-span-1 ">
                <!-- Description list-->
                <section aria-labelledby="applicant-information-title">
                    <div class="bg-white shadow sm:rounded-lg p-4">
                        <h1 class="text-lg mt-6 font-medium leading-tight flex flex-nowrap mb-2 text-gray-700 cursor-pointer">
                            Antecedentes clinicos
                        </h1>
                        <p class="text-md-start font-sm leading-tight flex flex-nowrap text-gray-400 cursor-pointer">
                            ¿Durante los ultimos 3 meses a sufrido usted de alguna de las siguientes alteraciones?
                        </p>
                        <div class="mt-10 sm:mt-0">
                            <div class="grid mb-4 lg:grid-cols-2 gap-y-6 gap-x-4 sm:grid-cols-1 ">
                                <form action="#" class="sm:col-span-1 " method="POST">
                                    <div class=" overflow-hidden">
                                        <div class="  bg-white  ">

                                            <fieldset>

                                                <div class="mt-4 space-y-4">
                                                    <div class="flex items-center">
                                                        <input id="push-everything" name="push-notifications" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                        <label for="push-everything" class="ml-3 block text-sm font-medium text-gray-700"> Problemas de garganta </label>
                                                    </div>
                                                    <div class="flex items-center">
                                                        <input id="push-email" name="push-notifications" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                        <label for="push-email" class="ml-3 block text-sm font-medium text-gray-700"> Depresion </label>
                                                    </div>
                                                    <div class="flex items-center">
                                                        <input id="push-nothing" name="push-notifications" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                        <label for="push-nothing" class="ml-3 block text-sm font-medium text-gray-700"> Ahogo </label>
                                                    </div>
                                                    <div class="flex items-center">
                                                        <input id="push-everything" name="push-notifications" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                        <label for="push-everything" class="ml-3 block text-sm font-medium text-gray-700"> Dificultad para respirar  </label>
                                                    </div>
                                                    <div class="flex items-center">
                                                        <input id="push-email" name="push-notifications" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                        <label for="push-email" class="ml-3 block text-sm font-medium text-gray-700"> Dolor de oidos </label>
                                                    </div>
                                                    <div class="flex items-center">
                                                        <input id="push-nothing" name="push-notifications" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                        <label for="push-nothing" class="ml-3 block text-sm font-medium text-gray-700"> Otitis </label>
                                                    </div>
                                                    <div class="flex items-center">
                                                        <input id="push-nothing" name="push-notifications" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                        <label for="push-nothing" class="ml-3 block text-sm font-medium text-gray-700"> Dolor de cintura </label>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>

                                    </div>
                                </form>
                                <form action="#" class="sm:col-span-1 " method="POST">
                                    <div class=" overflow-hidden">
                                        <div class="  bg-white  ">

                                            <fieldset>

                                                <div class="mt-4 space-y-4">
                                                    <div class="flex items-center">
                                                        <input id="push-everything" name="push-notifications" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                        <label for="push-everything" class="ml-3 block text-sm font-medium text-gray-700"> Dolor de huesos o articulasiones </label>
                                                    </div>
                                                    <div class="flex items-center">
                                                        <input id="push-email" name="push-notifications" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                        <label for="push-email" class="ml-3 block text-sm font-medium text-gray-700"> Diarrea o problemas intestinales </label>
                                                    </div>
                                                    <div class="flex items-center">
                                                        <input id="push-nothing" name="push-notifications" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                        <label for="push-nothing" class="ml-3 block text-sm font-medium text-gray-700"> Dificultades para dormir </label>
                                                    </div>
                                                    <div class="flex items-center">
                                                        <input id="push-nothing" name="push-notifications" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                        <label for="push-nothing" class="ml-3 block text-sm font-medium text-gray-700"> mareos y v vertigos </label>
                                                    </div>
                                                    <div class="flex items-center">
                                                        <input id="push-nothing" name="push-notifications" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                        <label for="push-nothing" class="ml-3 block text-sm font-medium text-gray-700"> Dolor en el pecho </label>
                                                    </div>
                                                    <div class="flex items-center">
                                                        <input id="push-nothing" name="push-notifications" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                        <label for="push-nothing" class="ml-3 block text-sm font-medium text-gray-700"> Dolor de espalda </label>
                                                    </div>
                                                    <div class="flex items-center">
                                                        <input id="push-nothing" name="push-notifications" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                        <label for="push-nothing" class="ml-3 block text-sm font-medium text-gray-700"> Dolor de cintura </label>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>

                                    </div>
                                </form>
                            </div>

                            <h1 class="text-lg mt-6 font-medium leading-tight flex flex-nowrap mb-2 text-gray-700 cursor-pointer">
                                Antecedentes familiares
                            </h1>
                            <p class="text-md-start font-sm leading-tight flex flex-nowrap text-gray-400 cursor-pointer">
                                ¿En su grupo familiar presenta algunas de las siguientes enfermedades?
                            </p>
                            <div class="mt-10 sm:mt-0">
                                <div class="grid lg:grid-cols-2 gap-y-6 gap-x-4 sm:grid-cols-1 ">
                                    <form action="#" class="sm:col-span-1 " method="POST">
                                        <div class=" overflow-hidden">
                                            <div class="  bg-white  ">

                                                <fieldset>

                                                    <div class="mt-4 space-y-4">
                                                        <div class="flex items-center">
                                                            <input id="push-everything" name="push-notifications" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                            <label for="push-everything" class="ml-3 block text-sm font-medium text-gray-700"> Cancer </label>
                                                        </div>
                                                        <div class="flex items-center">
                                                            <input id="push-email" name="push-notifications" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                            <label for="push-email" class="ml-3 block text-sm font-medium text-gray-700"> Ulcera </label>
                                                        </div>
                                                        <div class="flex items-center">
                                                            <input id="push-nothing" name="push-notifications" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                            <label for="push-nothing" class="ml-3 block text-sm font-medium text-gray-700"> Hipertension arterial </label>
                                                        </div>
                                                        <div class="flex items-center">
                                                            <input id="push-everything" name="push-notifications" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                            <label for="push-everything" class="ml-3 block text-sm font-medium text-gray-700"> Jaquecas  </label>
                                                        </div>
                                                        <div class="flex items-center">
                                                            <input id="push-email" name="push-notifications" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                            <label for="push-email" class="ml-3 block text-sm font-medium text-gray-700"> Migrañas </label>
                                                        </div>
                                                        <div class="flex items-center">
                                                            <input id="push-nothing" name="push-notifications" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                            <label for="push-nothing" class="ml-3 block text-sm font-medium text-gray-700"> Colesterol </label>
                                                        </div>
                                                        <div class="flex items-center">
                                                            <input id="push-nothing" name="push-notifications" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                            <label for="push-nothing" class="ml-3 block text-sm font-medium text-gray-700"> Dermatitis </label>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>

                                        </div>
                                    </form>
                                    <form action="#" class="sm:col-span-1 " method="POST">
                                        <div class=" overflow-hidden">
                                            <div class="  bg-white  ">

                                                <fieldset>

                                                    <div class="mt-4 space-y-4">
                                                        <div class="flex items-center">
                                                            <input id="push-everything" name="push-notifications" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                            <label for="push-everything" class="ml-3 block text-sm font-medium text-gray-700"> Diabetes </label>
                                                        </div>
                                                        <div class="flex items-center">
                                                            <input id="push-email" name="push-notifications" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                            <label for="push-email" class="ml-3 block text-sm font-medium text-gray-700">Insomnio </label>
                                                        </div>
                                                        <div class="flex items-center">
                                                            <input id="push-nothing" name="push-notifications" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                            <label for="push-nothing" class="ml-3 block text-sm font-medium text-gray-700"> Infarto </label>
                                                        </div>
                                                        <div class="flex items-center">
                                                            <input id="push-nothing" name="push-notifications" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                                                            <label for="push-nothing" class="ml-3 block text-sm font-medium text-gray-700"> Dolores de esplada </label>
                                                        </div>

                                                    </div>
                                                </fieldset>
                                            </div>

                                        </div>
                                    </form>
                                </div>

                            </div>

                        </div>

                    </div>
                </section>


            </div>


        </div>
    </main>
</div>